:root {
  --title-color: #d97d83;
  --bg-color: rgb(245, 232, 184);
  --font-color: #332701;
}
* {
  font-family: "Noto Serif KR", serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 카카오맵 버튼 없애기 */
.wrap_controllers {
  display: none !important;
}

.root_daum_roughmap {
  width: 100% !important;
  max-height: 240px !important;
}
.root_daum_roughmap_landing {
  margin: auto !important;
}
.root_daum_roughmap .wrap_btn_zoom {
  display: none !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-style-accent {
  font-size: 1rem;
  align-items: baseline;
  font-family: "MaruBuri-Bold";
  color: #292000;
}
/* 폰트 적용 */
@font-face {
  font-family: 'MaruBuri-Regular';
  src: url("../assets/fonts/MaruBuri-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri-SemiBold';
  src: url("../assets/fonts/MaruBuri-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri-Bold';
  src: url("../assets/fonts/MaruBuri-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri-Light';
  src: url("../assets/fonts/MaruBuri-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TimesNewerRoman-Regular';
  src: url("../assets/fonts/TimesNewerRoman-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "mom_to_daughter";
  src: url("../assets/fonts/mom_to_daughter.woff2") format("woff2"),
    url("../assets/fonts/mom_to_daughter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-style-1 {
  font-size: 1.05rem;
  color: #292000;
  justify-content: center;
  align-items: center;
  font-family: 'MaruBuri-Bold';
  position: relative;
  top: -1.5px;
}

.text-style-2 {
  font-size: 1rem;
  color: #292000;
  justify-content: center;
  align-items: center;
  font-family: 'MaruBuri-Light' !important;
  position: relative;
  top: -1px;
}

.image-gallery-bullet.active {
  transform: scale(1.2);
  border: 0px solid #fff !important;
  background: #111 !important;
}

.image-gallery-bullet {
  background: #fff !important;
  box-shadow: 0 0px 0px #1a1a1a !important;
}

.image-gallery-bullets {
  position: relative !important;
  top: 10px !important;
}

.gallery-container {
  position: relative !important;
  top: -10px !important;
  background: #fff !important;
  color: #292000;
  border: 2px solid #d97d83 !important;
  margin-top: 0px !important;
}

.account-table-line {
  width: 100%;
  border: solid 1px #292000;
  background-color: #292000;
}

.text-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box {
  display:inline-flex;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: auto;
  border: 1px solid blue;
}
.flex-item {
  background-color: tomato;
  padding: 5px;
  width: 20px;
  height: 20px;
  margin: 10px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

/* money */
hr.dashed {
  border-top: 1px dashed #bbb;
}
.money-info-text {
  font-size: 100%;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background: #292000;
  letter-spacing: normal;
  font-family: "MaruBuri-Regular";
  padding-top: 10px;
  padding-bottom: 10px;
}